
/* Importa fontes do Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700');

html, body{height: 100%;min-height: 100%;}

body { font-family: 'Roboto Condensed'; background: url('../img/bg.png') center -30px; font-family: 'Roboto Condensed'; padding-top: 70px;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0px);
    webkit-font-smoothing: antialiased;
    -webkit-transform-style: preserve-3d;
}

body > .container {background:#fff; padding-top: 30px; position:relative;min-height:100%;height:auto !important;height:100%; padding-bottom: 50px;box-shadow: 0px 0px 25px 3px #ccc;}
a, a:hover, a:active, a:focus, a:visited {text-decoration: none;}


h1 {background: #1D71B8; color:#fff; padding: 10px 15px; font-size: 30px; margin-bottom: 0px; border: 1px solid #165890; border-bottom: none; font-weight: 300;}
h1 > i { border-right: 1px solid #fff; padding-right: 15px; margin-right: 10px;}


.round { border-radius: 4px;}
.roundTop { border-radius: 4px 4px 0 0 ;}
.roundBottom{ border-radius: 0 0 4px 4px ;}
.roundLeft { border-radius: 4px 0 0 4px ;}
.roundRight { border-radius: 0 4px 4px 0 ;}

/* Home */

.wraper {position: relative; display: block; margin-bottom: 30px; background: #f8f8f8;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.wraper:before {display: block;content: "";width: 100%;padding-top: 100%;}
.wraper > .menuItem {position: absolute;top: 0;left: 0;right: 0;bottom: 0; }

.menuItem > .innerItem {  position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); width:90%;}

.error > .form-control {border-color: #f99981;}

.innerItem > .iconMenuItem { font-size: 38px;  color: #26B3E8; text-align: center; display: block; margin: 10px auto 0px auto;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;}

.innerItem > .titleMenuItem { font-weight: 300; margin: 10px 0; line-height: 1.6; font-size: 22px; text-align: center; color: #1D71B8;
  -webkit-transition: color .4s ease-in-out;
  -moz-transition: color .4s ease-in-out;
  transition: color .4s ease-in-out;
  }

.innerItem > ul {border-top: 1px solid #ddd; padding-top:10px; margin-top: 10px;
-webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  }
.innerItem > ul li {color: #aaa;}

.wraper:hover {transform:scale(1.1);background: #26B3E8; z-index: 1;
    box-shadow: 1px 1px 1px #ccc;
    -webkit-box-shadow: 0px 16px 54px -5px rgba(82,82,82,1);
    -moz-box-shadow: 0px 16px 54px -5px rgba(82,82,82,1);
    box-shadow: 0px 16px 54px -5px rgba(82,82,82,1);
 }
.wraper:hover .innerItem > .iconMenuItem {transform:scale(1.25) ; color: #FFD562; }
.wraper:hover .innerItem > .titleMenuItem { color: #FFD562;}
.wraper:hover .innerItem > ul {border-top: 1px solid #fff;}
.wraper:hover .innerItem > ul li  {color:#fff;}



/* Ítens de LISTA */
.list-item { padding: 8px 10px; font-size: 17px; display: block; height: 65px; margin: 5px 0px 10px 0px; border-bottom: 1px solid #efefef; color:#1D71B8;}
.list-item.inativo { color: #ccc;}

.list-item-linha { margin: 0px; height: 25px; line-height: 25px; overflow: hidden;}

.list-item-assets { margin: 0px; height: 20px; line-height: 20px; overflow: hidden;}
.list-item.inativo  .list-item-asset {color: #ccc;}

.list-item-asset {font-size: 15px; font-weight: 300;color: #666666; margin-right: 5px;}
.list-item-asset i {color:#ccc;}
.list-item-asset:last-child {margin-right: 0px;}

.list-item-icon { float: left; font-size: 12px; margin: 0 8px 0 0; height:45px;}
.list-item-icon i {font-size: 32px;}
.list-item-icon span {display: block; text-align:center;}

.list-item:hover {color:#fff; background: #26B3E8; border-bottom: 1px solid #459bb5; border-right: 1px solid #459bb5; }
.list-item:hover .list-item-linha {color: #fff;}
.list-item:hover .list-item-asset {color: #d2f1fa;}
.list-item:hover .list-item-asset i {color: #d2f1fa;}
.list-item:hover .list-item-icon {color: #fff;}



.list-group-item b { width: 110px; display: inline-block;}


/* Correção na altura do NavBar */
.navbar-brand { padding:3px 15px;height: 30px;}
.dropdown-menu>li>a { padding:6px 15px;}
.dropdown-menu>li>a p { margin: 0px;}

.row.data { margin-top: 20px;}


/* Maior que 767 */
@media(min-width:767px) {
    .navbar {
        padding: 15px 0px;
        -webkit-transition: all .5s ease-in-out;-moz-transition: all .5s ease-in-out;transition: all .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
        height: 50px;
    }

}
/* Menor que 767 */
@media(max-width:768px) {
    .navbar-brand { padding:6px 15px;height: 30px;}
    .navbar-brand>img {height: 45px; width: auto;}
    body{ padding-top: 30px;}
}

/* Badge de mensagens no topo*/
.label-as-badge {
    border-radius: 1em;
    margin-top: -3px;
    vertical-align: middle;
    display: inline-block;
}

/* Ajustes no breadcrumbs */
.breadcrumb {margin-bottom: 20px; background: #f8f8f8;}


/* BLOCO DE BUSCA */
.well-busca {padding: 15px; background: #efefef; }
.well-busca .title { color:#aaa; margin:0px 0px 5px 0px;}
.well-busca .coluna { margin-bottom: 3px;}

.well-status { display: block; margin-bottom: 20px;padding: 15px; background: #f8f8f8;}

.well-busca h2 { color:#666; font-size: 26px;font-weight: 300;}

/* AGENDAMENTO */
.media-left.agendamentoIcone { color: #3AAA35;}
.marcacao{ border-bottom: 1px dotted #efefef; margin: 10px 0px; max-height: 80px; height: 80px;}
.internado{ border-bottom: 1px dotted #efefef; margin: 10px 0px; max-height: 55px; height: 55px;}

.statuses { display: inline-block; font-size: 16px; font-weight: normal; line-height: 20px; padding: 5px 8px;}
.statuses .badge { background: #fff; color: #aaa;}

table {font-size: 13px;}

/* ALERTAS */
.alerta{ border-bottom: 1px dotted #efefef; padding: 10px 0px; max-height: 50px; height: 50px;}

.text-default {color:#aaa;}
.text-info {color:#5bc0de;}
.text-warning {color:#f0ad4e;}
.text-danger {color:#d9534f;}
.text-success {color:#5cb85c;}
.text-extra {color:#777;}

.label-default { background: #aaa;}
.label-extra { background: #777;}

fieldset { border-bottom: 1px solid #efefef; padding-bottom: 20px; }
fieldset:last-child { border-bottom: none; }

/* FORMAT FILE INPUT*/

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.obs {overflow-y: auto; max-height: 327px; height: 327px;}
.ok {font-size: 13px; font-weight: 300;}
/*.navbar {background-image: linear-gradient(to bottom,#26B3E8 0, #1D71B8 100%); color: #fff;}*/
